.nav{
    background-color: aqua;
display: flex;
position:fixed;
top: 0%;
width:150vw;
}
.navkeys{
    margin-left:800px;
    margin-top:27px;
}
.key{
    margin-left:20px;
    margin-bottom:-30px;
}
.img{
    height:700px;
    width:1500px;
    position:;
}
.nursary{
    color: brown;
    font-family: 'Courier';
    font-size: 20px;
}
.content{
    margin-left:500px;
}
.img1{
     margin-left: 300px;
     margin-top:-40px;
}
.dryimg{
    display: flex;
}
.img2{
    margin-left:400px ;
    margin-top:70px;
}
.img3{
    margin-left:700px ;
}
.background{
;
    background-color:rgb(26, 12, 40) 
}
.backgroundimg{
    margin: 40px;
    border:1px solid white;
    
}
.ourproducts{
    color:white;
    margin-left:660px;
    padding-top:20px;
}
.display{
    display: flex;
}
.plantsname{
    display: flex;
    justify-content:space-evenly;
}
.plant{
    color:white;
    font-size:30px;
}
.contact{
    margin-left:600px;
    font-size: x-large;
}
.contactpage{
    font-size:xx-large;
    margin-left:600px;
}
.Follow{
    color:white;
    margin-left:700px;
    font-size:x-large ;
    padding-top:30px;
}
.footer{
    background-color:rgb(36, 3, 62) ;
}
.footerimg{
    margin-left:600px;
}